<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Rokkitt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Додайте посилання на ваш згенерований global.css та index.css -->
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/styles.css" />
    <!-- Додайте посилання на шрифти, які використовуються в вашому доданому HTML-коді -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap" />
</head>
<body>
    <div class="main1">
      <div class="frame">
        <%- include ('part/header.ejs') %>
        <!--<header class="header-wrapper">
          <div class="header">
            <div class="group-parent">
              <img class="frame-child" alt="" src="/images/logo.svg" />

              <div class="movrev" id="movrevMovRev">MovRev</div>
            </div>
            <div class="header1">
              <div class="frame1">
                <div class="movrev" id="movrevMovieReviews">Movie Reviews</div>
                <div class="movrev" id="movrevCollection">Collection</div>
              </div>
              <div class="frame2">
                <div class="movrev">Log in</div>
                <div class="movrev">Sing up</div>
                <img class="search-1-icon" alt="" src="/images/search-1.svg" />
              </div>
            </div>
          </div>
        </header>-->
        <div class="frame3">
          <div class="frame-parent">
            <div class="frame4">
              <img class="picture-icon" alt="" src="/images/hero-image.png" />
            </div>
            <div class="frame-group">
              <div class="frame5">
                <div class="movrev">Poison</div>
              </div>
              <div class="frame6">
                <div class="frame7">
                  <div class="film-parent">
                    <div class="film">film</div>
                    <div class="frame-item"></div>
                    <div class="film">2023</div>
                    <div class="frame-item"></div>
                    <div class="film">17 min</div>
                    <div class="frame-item"></div>
                    <div class="film">Drama</div>
                    <div class="frame-item"></div>
                    <div class="film">10+</div>
                  </div>
                </div>
                <div class="frame8">
                  <div class="an-adaptation-of">
                    An adaptation of Roald Dahl's short story in which a man
                    finds a poisonous snake in his bed. This film is part of Wes
                    Anderson's collection of short films.
                  </div>
                </div>
                <div class="frame9">
                  <div class="view-review-wrapper">
                    <div class="movrev">view review</div>
                  </div>
                </div>
                <div class="frame10">
                  <div class="frame11">
                    <div class="movrev">Movie review by:</div>
                  </div>
                  <div class="frame12">
                    <div class="movrev">Peyton Robinson</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame13">
        <div class="frame14">
          <div class="frame15">
            <div class="frame-container">
              <div class="frame16">
                <div class="vector-parent">
                  <img class="line-icon" alt="" src="./public/line-5.svg" />




                  <div class="review-collections">Review collections</div>
                </div>
                <div class="frame-div">
                  <div class="frame-parent1">
                    <div class="image-3-parent">
                      <img
                        class="image-3-icon"
                        alt=""
                        src="/images/image-3.png"
                      />




                      <img
                        class="rectangle-icon"
                        alt=""
                        src="/images/rectangle-10.png"
                      />
                    </div>
                    <div class="fantasy">Fantasy</div>
                  </div>
                  <div class="frame-parent1">
                    <div class="image-3-group">
                      <img
                        class="image-3-icon"
                        alt=""
                        src="/images/image-3.png"
                      />




                      <img
                        class="rectangle-icon"
                        alt=""
                        src="/images/rectangle-10.png"
                      />
                    </div>
                    <div class="fantasy1">Fantasy</div>
                  </div>
                  <div class="frame-parent1">
                    <div class="image-3-group">
                      <img
                        class="image-3-icon"
                        alt=""
                        src="/images/image-3.png"
                      />




                      <img
                        class="rectangle-icon"
                        alt=""
                        src="/images/rectangle-10.png"
                      />
                    </div>
                    <div class="fantasy1">Fantasy</div>
                  </div>
                  <div class="frame-parent1">
                    <div class="image-3-group">
                      <img
                        class="image-3-icon"
                        alt=""
                        src="/images/image-3.png"
                      />




                      <img
                        class="rectangle-icon"
                        alt=""
                        src="/images/rectangle-10.png"
                      />
                    </div>
                    <div class="fantasy1">Fantasy</div>
                  </div>
                  <div class="frame-parent1">
                    <div class="image-3-group">
                      <img
                        class="image-3-icon"
                        alt=""
                        src="/images/image-3.png"
                      />




                      <img
                        class="rectangle-icon"
                        alt=""
                        src="/images/rectangle-10.png"
                      />
                    </div>
                    <div class="fantasy1">Fantasy</div>
                  </div>
                </div>
              </div>
              <div class="frame-div">
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
              </div>
            </div>
            <div class="frame-parent12">
              <div class="frame17">
                <div class="vector-group">
                  <img class="line-icon" alt="" src="./public/line-51.svg" />




                  <div class="review-collections">Latest reviews</div>
                </div>
                <div class="frame-parent13">
                  <div class="frame-parent14">
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                  </div>
                  <div class="frame-parent14">
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                  </div>
                  <div class="frame-parent14">
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                    <div class="frame-parent1">
                      <div class="image-3-group">
                        <img
                          class="image-3-icon"
                          alt=""
                          src="/images/image-3.png"
                        />




                        <img
                          class="rectangle-icon"
                          alt=""
                          src="/images/rectangle-10.png"
                        />
                      </div>
                      <div class="fantasy1">Fantasy</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more">more...</div>
            </div>
          </div>
          <div class="frame-container">
            <div class="frame16">
              <div class="vector-container">
                <img class="line-icon" alt="" src="./public/line-5.svg" />




                <div class="review-collections">Popular review</div>
              </div>
              <div class="frame-div">
                <div class="frame-parent1">
                  <div class="image-3-parent">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
                <div class="frame-parent1">
                  <div class="image-3-group">
                    <img
                      class="image-3-icon"
                      alt=""
                      src="/images/image-3.png"
                    />




                    <img
                      class="rectangle-icon"
                      alt=""
                      src="/images/rectangle-10.png"
                    />
                  </div>
                  <div class="fantasy1">Fantasy</div>
                </div>
              </div>
            </div>
            <div class="frame-div">
              <div class="frame-parent1">
                <div class="image-3-group">
                  <img
                    class="image-3-icon"
                    alt=""
                    src="/images/image-3.png"
                  />




                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/images/rectangle-10.png"
                  />
                </div>
                <div class="fantasy1">Fantasy</div>
              </div>
              <div class="frame-parent1">
                <div class="image-3-group">
                  <img
                    class="image-3-icon"
                    alt=""
                    src="/images/image-3.png"
                  />




                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/images/rectangle-10.png"
                  />
                </div>
                <div class="fantasy1">Fantasy</div>
              </div>
              <div class="frame-parent1">
                <div class="image-3-group">
                  <img
                    class="image-3-icon"
                    alt=""
                    src="/images/image-3.png"
                  />




                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/images/rectangle-10.png"
                  />
                </div>
                <div class="fantasy1">Fantasy</div>
              </div>
              <div class="frame-parent1">
                <div class="image-3-group">
                  <img
                    class="image-3-icon"
                    alt=""
                    src="/images/image-3.png"
                  />




                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/images/rectangle-10.png"
                  />
                </div>
                <div class="fantasy1">Fantasy</div>
              </div>
              <div class="frame-parent1">
                <div class="image-3-group">
                  <img
                    class="image-3-icon"
                    alt=""
                    src="/images/image-3.png"
                  />




                  <img
                    class="rectangle-icon"
                    alt=""
                    src="/images/rectangle-10.png"
                  />
                </div>
                <div class="fantasy1">Fantasy</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent45">
          <div class="group-container">
            <img class="group-icon" alt="" src="/images/logo.svg" />




            <div class="movrev">MovRev</div>
          </div>
          <img class="frame-child38" alt="" src="/images/instagram-1.svg" 
          
          />




          <div class="movie-reviews-parent">
            <div class="movrev">Movie Reviews</div>
            <div class="movrev">Collection</div>
            <div class="movrev">Interviews</div>
            <div class="movrev">News</div>
          </div>
        </div>
      </div>
    </div>








    <!-- Скрипти, які ви вже маєте -->
    <!--<script>
        var movieReviewsText = document.getElementById("movieReviewsText");
        if (movieReviewsText) {
            movieReviewsText.addEventListener("click", function (e) {
                // Переконайтеся, що цей код синхронізований з вашим проектом
            });
        }

        var movrevCollection = document.getElementById("movrevCollection");
  if (movrevCollection) {
    movrevCollection.addEventListener("click", function () {
      window.location.href = "/collection"; // Змініть шлях на той, який вам потрібен
    });
  }

  var movrevMovieReviews = document.getElementById("movrevMovieReviews");
  if (movrevMovieReviews) {
    movrevMovieReviews.addEventListener("click", function(){
      window.location.href = "/movie_review";
    });

  }

  var movrevMovRev = document.getElementById("movrevMovRev");
  if (movrevMovRev) {
    movrevMovRev.addEventListener("click", function(){
      window.location.href = "/";
    });

  }


    </script>
  -->
</body>
</html>









